/* Thanks to http://easings.net/ for the CSS transitions used in this stylesheet */
/* Copyright 2015 Daan van der Zwaag */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #595959;

}

body > main, header, article, section, footer {

    font-size: 0.9em

}

body > main /* Aanmelden */ {

    width: 30%;
    margin-left: 21%;
    float: left;
    position: relative;
}



body > header {
    margin: 0 auto;
    height: 100%;
    width: 20%;
    background-color: #ffcc00;
    padding: 3%;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    box-sizing: border-box;
    float: left;
    position: fixed;
    vertical-align: top;
    top: 0;
}


body > header > img {

    width: 100%;

}

body > section /* Meer lezen / Voorbeeld projecten */ {

    float: left;
    margin-left: 1%;
    width: 20%;
    height: 230vh;
    overflow-y: auto;
    margin-bottom: 40px;

}

body > aside > section:nth-child(1) /* Laatste Mededelingen */ {

    float: left;
    margin-left: 1%;
    width: 15%;
}

body > aside > section:nth-child(2) /* Agenda */ {

    float: left;
    margin-right: 1%;
    width: 10%;

}

body > footer {
    box-sizing: border-box;
    clear: both;
    float: right;
    position: relative;
    margin-left: 20%;
    padding: 1%;
    background: #1f1f1f;

}

footer > section > h2 {
    color: #fff;

}

footer > section {

    float: left;
    margin-right: 5%;

}

footer > section:nth-child(4) {

    position: absolute;
    margin-top: 35%;
    margin-left: 29%;
}

/* article {

    max-width: 30em;
    margin: auto;


}



/* Child selectors and sibling combinators

article > section > h2 {

    font-weight: 500;
    font-size: 2em;

}

article > section > h3 {

    font-weight: 500;
    font-size: 1.4em;
}


article > section > p {

    font-size: 0.9em;
}


article > section > p:nth-child(1) {

    font-weight: 700;
    font-size: 1.2em;

}


h2 + p {

    font-weight: 700;
    margin-bottom: 2em;

}

a {
    text-decoration: none;
    color: #ffcc00;

}

a:hover {
    color: #f39c12;
}


/* Special Attribute Selector: verandert tijdelijk niet linkende <a> met het symbool # naar de tekst "deadlink"


a[href*="#"] > span {
        display: none;
}

a[href*="#"]:after {

    content: " *deadlink*";
    color: #c0392b;

}  */

/* Form styling

fieldset {

    display: block;
    border: 0;
    margin-top: 40px;
    margin-left: -12px;
}


legend {

    font-size: 1.4em;
    font-weight: 500;
    margin-left: -3px;

}

input {

    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0);
    border-color: rgba(216,216,216,1);
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0px;
    text-transform: none;
    padding: 12px 15px 12px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

input:focus {

    background-color: #f6f6f6;

}

label {

    font-size: 0.8em;

}


nav {

    float: right;
}

nav ul {

    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    width: 124px;
    height: 50px;
    line-height: 50px;
    border-bottom: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .6s color;
}

nav a:hover {
  color: #f39c12;
}

nav a.active {
  color: #f39c12;
}


/* Styling H1 in header. Source underline effect: http://callmenick.com/post/simple-css3-transitions-transforms-animations-compilation

.pagetitle {
    float: left;
    margin: 5px 0px 0px 0px ;
    color: white;
    text-transform: uppercase;

}

.pagetitle:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 5px;
  background-color: white;
    box-shadow: 2px 2px 2px #595959;
  content: "";
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pagetitle:hover {

    text-shadow: 2px 2px 2px #595959;
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pagetitle:hover:after {
  width: 100%;
}


/* Button

.button {

    padding: 15px 40px;
    margin: 0px 0px 40px 0px;
    text-decoration: none;
    color: #ffcc00;
    background-color: #fff;
    border: 2px solid #ffcc00;
    border-radius: 2px;
}

.button:hover {

    color: #fff;
    background-color: #ffcc00;

}

.button-form {

    font-size: 1em;
    text-transform: uppercase;
    width: 150px;
    float: right;
    margin-right: 15px;

}

/* Alignment

.align-right {

    float: right

}
*/
